---
layout: default
title: Galeria de Fotos
glyphicon:  picture
priority: 0.8
changefreq: monhtly
---		

<div class="galeria-fotos">

	<div class="clearfix"></div><!-- /.clearfix -->

	<h3>&raquo; Toldos</h3>
	<ul class="galeria">
		{% for galeria in site.data.toldos %}
		<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			<a href="{{site.baseurl}}/source/images/galeria/{{galeria.imagem}}.jpg" class="thumbnail">
				<img src="{{site.baseurl}}/source/images/galeria/{{galeria.imagem}}_menor.jpg" alt="">
			</a>
		</li>
		{% endfor %}
	</ul>
	
	<div class="clearfix"></div><!-- /.clearfix -->

	<h3>&raquo; Toldo com Braço Articulado</h3>
	<ul class="galeria">
		{% for galeria in site.data.braco-articulado %}
		<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			<a href="{{site.baseurl}}/source/images/galeria/{{galeria.imagem}}.jpg" class="thumbnail">
				<img src="{{site.baseurl}}/source/images/galeria/{{galeria.imagem}}_menor.jpg" alt="">
			</a>
		</li>
		{% endfor %}
	</ul>

	<div class="clearfix"></div><!-- /.clearfix -->

	<h3>&raquo; Toldo Cortina</h3>
	<ul class="galeria">
		{% for galeria in site.data.toldo-cortina %}
		<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			<a href="{{site.baseurl}}/source/images/galeria/{{galeria.imagem}}.jpg" class="thumbnail">
				<img src="{{site.baseurl}}/source/images/galeria/{{galeria.imagem}}_menor.jpg" alt="">
			</a>
		</li>
		{% endfor %}
	</ul>

	<div class="clearfix"></div><!-- /.clearfix -->

	<h3>&raquo; Toldo Fixo</h3>
	<ul class="galeria">
		{% for galeria in site.data.toldo-fixo %}
		<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			<a href="{{site.baseurl}}/source/images/galeria/{{galeria.imagem}}.jpg" class="thumbnail">
				<img src="{{site.baseurl}}/source/images/galeria/{{galeria.imagem}}_menor.jpg" alt="">
			</a>
		</li>
		{% endfor %}
	</ul>

	<div class="clearfix"></div><!-- /.clearfix -->

	<h3>&raquo; Capota para Janelas</h3>
	<ul class="galeria">
		{% for galeria in site.data.capota %}
		<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			<a href="{{site.baseurl}}/source/images/galeria/{{galeria.imagem}}.jpg" class="thumbnail">
				<img src="{{site.baseurl}}/source/images/galeria/{{galeria.imagem}}_menor.jpg" alt="">
			</a>
		</li>
		{% endfor %}
	</ul>

</div>
<!-- /.galeria-fotos -->


<div class="modal fade" id="galeria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->