<ul class="horizontal-nav">
	<li><a href="{{site.baseurl}}/" class="{% if page.url == '/index.html' %}current{% endif %}">HOME</a></li>
	<li><a href="{{site.baseurl}}/faq.html" class="{% if page.url == '/faq.html' %}current{% endif %}">FAQ</a></li>
	<li><a href="{{site.baseurl}}" class="{% if page.url == '/galeria.html' %}current{% endif %}">GALERIA</a></li>
	<li><a href="{{site.baseurl}}" class="{% if page.url == '/orcamento.html' %}current{% endif %}">ORÇAMENTO</a></li>
	<li><a href="{{site.baseurl}}" class="{% if page.url == '/empresa.html' %}current{% endif %}">A EMPRESA</a></li>
</ul>